#div1{
  
    white-space: nowrap;
    position: fixed;
    padding-right:10%;
    left:10%;
    overflow-y: auto;
    height: 500px;
    border: 1px solid;

  
}

#sp1
{
   position: absolute;
   border-radius: 10px;
   border: 1px solid gray;
   background-color: rgb(219, 240, 240);
   padding: 4px;
   top:12%;
   left: 86%;
   
}
#sp2
{
    position: absolute;
   border-radius: 10px;
   border: 1px solid gray;
   background-color: rgb(219, 240, 240);
   padding: 4px;
   top:53%;
   left: 86%;
   
}